<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.wfql.server" />
        <provider android:authorities="com.wfql.server.provider.LoginProvider" />
    </queries>

    <application
        android:name="com.wfql.client.activity.clientApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leaveclient"
        tools:targetApi="31">
        <activity
            android:name="com.wfql.client.activity.CheckActivity"
            android:exported="false" />
        <activity
            android:name="com.wfql.client.activity.AskLeaveActivity"
            android:exported="false" />
        <activity
            android:name="com.wfql.client.activity.AdmActivity"
            android:exported="false" />
        <activity
            android:name="com.wfql.client.activity.VerifyLoginActivity"
            android:exported="false" />
        <activity
            android:name="com.wfql.client.activity.ForgetPwdActivity"
            android:exported="false" />
        <activity
            android:name="com.wfql.client.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.wfql.client.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wfql.client.activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>