<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.wfql.server.activity.serverApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leaveclient">
        <provider
            android:name=".provider.LoginProvider"
            android:authorities="com.wfql.server.provider.LoginProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.AdminProvider"
            android:authorities="com.wfql.server.provider.AdminProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.DepartmentProvider"
            android:authorities="com.wfql.server.provider.DepartmentProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.FeedbackProvider"
            android:authorities="com.wfql.server.provider.FeedbackProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.InstitutionProvider"
            android:authorities="com.wfql.server.provider.InstitutionProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.LeaveProvider"
            android:authorities="com.wfql.server.provider.LeaveProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.LeaveTypeProvider"
            android:authorities="com.wfql.server.provider.LeaveTypeProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.NewsProvider"
            android:authorities="com.wfql.server.provider.NewsProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.RuleProvider"
            android:authorities="com.wfql.server.provider.RuleProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.UserProvider"
            android:authorities="com.wfql.server.provider.UserProvider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.UserTypeProvider"
            android:authorities="com.wfql.server.provider.UserTypeProvider"
            android:enabled="true"
            android:exported="true" />


        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>